#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

li {
  list-style: none;
  padding-left: 15px;
}

.col-12 {
  padding-left: 60px;
  margin: auto auto;
}
.text-wrap {
  text-align: center;
}
.border-frame {
  position: relative;
  top: 5px;
  border: 1px solid white;
  border-radius: 10px;
  max-width: 550px;
  margin: 20px auto 5px;
  padding: 20px;
  padding-bottom: 4px;
  background-color: white;
  opacity: 65%;
}

.heaven-icon {
  font-size: 45px;
  margin: auto auto;
}
.units {
  padding-top: 25px;
  padding-left: -15px;
}
.icon {
  line-height: 4;
  padding-bottom: 20px;
}
#temperature-value {
  font-size: 35px;
}

.city-name {
  font-size: 35px;
  /* padding-left: 25px; */
  /* text-align: center; */
  margin: auto auto;
}
.fa-location-dot {
  position: relative;
  top: -22px;
}

.weather-icon {
  line-height: 3;
  font-size: 25px;
}
.text-forecast {
  padding: 10px auto;
  line-height: 2;
}
.last-five-days {
  text-align: center;
}

.current-location {
  padding: auto auto;
  word-wrap: break-word;
  text-align: center;
}
form {
  padding-bottom: 35px;
}

body {
  /* background: url(images/mal.jpg) no-repeat center center fixed; */
  /* background: url(images/video.mp4) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 80%; */
}

.first-line {
  padding-top: 25px;
}
#separator {
  position: relative;
  font-size: 20px;
  top: -10px;
}
#grad-C,
#grad-F {
  position: relative;
  font-size: 20px;
  top: -10px;
  text-decoration: none;

  position: relative;
  right: 2px;
}

#grad-F {
  left: -5px;
}

.active {
  text-decoration: none;
  cursor: default;
  color: black;
}
.active:hover {
  text-decoration: none;
}

.inactive {
  color: black;
  opacity: 30%;
}

#separator {
  color: #deebf2;
}
#city-input {
  margin-left: 0;
}

.submitRepo {
  /* position: relative; */
  top: 2px;

  text-align: left;
  color: black;
  font-size: small;
  max-width: 550px;
  margin: 2px auto;
}

#submitRepo {
  text-decoration: none;
  color: black;
}

#current-time #day-of-week {
  /* margin: 0 auto; */
  padding-left: 30px;
}

#last-updated {
  font-weight: bold;
}

.location-sign {
  margin-left: 12px;
}
#weather-description {
  display: inline-block;
}

#weather-description:first-letter {
  text-transform: uppercase;
}
